/* ------------Nomalized ------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ Fonts ------------ */

@font-face {
    font-family: "TheWanters";
    src: url(../assets/fonts/The\ Wanters\ DEMO.ttf);    
}
@font-face{
    font-family: "FreeStyle-Script";
    src: url(../assets/fonts/FREESCPT.TTF);
}
@font-face {
    font-family: 'LexendDeca';
    src: url(../assets/fonts/LexendDeca-Thin.ttf);
}
@font-face {
    font-family: 'LexendDeca-SemiBold';
    src: url(../assets/fonts/LexendDeca-SemiBold.ttf);
}
@font-face {
    font-family: 'LexendDeca-Light';
    src: url(../assets/fonts/LexendDeca-Light.ttf);
}

/* ------------ General features texts ------------ */

h1{
    font-family: "TheWanters";
    font-size: 50px;
    color: black;
    padding: 10px;

    background-image: url(../assets/img/fondoPapel.png);
    background-size: cover;
    background-position: top;
    filter: drop-shadow(-6px 6px 4px);
}
h2{
    font-family: "FreeStyle-Script";
    font-size: 80px;
    color: #60605F;
    margin-bottom: 0px;
}
h3{
font-family: "FreeStyle-Script";
font-size: 60px;
text-align: center;
color: #fff;
}
p{
font-family: 'LexendDeca-Light', sans-serif;
text-align: justify;
font-size: 20px;
margin-bottom: 0px;
}
figcaption{
font-family: 'LexendDeca-Light';
text-align: center;
font-size: 25px;
color: black;
margin-top: 20px;
padding: 10px;


background-image: url(../assets/img/fondoPapel.png);
background-size: cover;
background-repeat: no-repeat;
filter: drop-shadow(-6px 6px 4px);
}

/* ------------ Headers ------------ */

.logo img{
    margin-top: 10px;
    margin-left: 10px;
    height: 350px;
    filter: drop-shadow(-12px 9px 6px);
    color: #0e0e0e;
}
.divNav {
    padding-inline: 10px;
    background-image: url(../assets/img/FondoNav.png);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    filter: drop-shadow(-12px 9px 6px); 
}
.NB{
    padding: 0px;
}
.nav-item {
    list-style: none;
    padding: 40px 0px 0px 10px;
}
.nav-item a {
    text-decoration: none;
    font-family: "TheWanters";
    font-size: 40px;
    color: #fff;
    filter: drop-shadow(-2px 4px 1px black);
}

/* ------------ Footers ------------ */

footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    width: 100% !important;
    
    background-image: url(../assets/img/suelo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.redes{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.redes div a img{
    width: 200px;
}

/* ------------ animaciones ------------ */

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
.navBar li a:hover{
    color: #60605F;
    font-size: 45px;
    transition: transform .3s, .8s;
}
.navBar li:nth-child(2) a:hover{
    color: #F4B911;
}
.navBar li:nth-child(3) a:hover{
    color: #15A015;
}
.navBar li:nth-child(4) a:hover{
    color: #F25814;
}
.producto div:hover {
    cursor: pointer;
    animation: jello-vertical 1s both;
}
button:hover{
	animation: jello-vertical 1s both;
}

/* ------------------------ Main Index ------------------------ */

.bodyMain{
    background-image: url(../assets/img/ladrillos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainIndex{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px 500px 300px 100px 400px;
    grid-template-areas: 
    ". . item1 . ."
    ". item2 item2 item2 ."
    "item3 item3 item3 item3 item3"
    ". . item5 item5 item5"
    "item4 item4 item6 item6 item6"
    ;
}
.news{
    grid-area: item1;
    text-align: center;
}
.carruselImg{
    grid-area: item2;;
}
.pics{
    height: 400px;
    box-shadow: 0px 10px 6px 1px black;
    border-radius: 10px;
}
.sticker{
    grid-area: item3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 150px;
}
.sticker img{
    width: 300px;
}
.botes{
    grid-area: item4;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 1;
    top: 250px;
}
.botes img{
    width: 100%;
}
.offer{
    grid-area: item5;
    display: flex;
    justify-content: center;
    padding: 20px;

    font-family: "theWanters";
    font-size: 50px;
    color: #0e0e0e;

    background-image: url(../assets/img/fondoPapel.png);
    background-size: cover;
    background-position: top;
    filter: drop-shadow(-6px 6px 4px);
}
.ofertas{
    grid-area: item6;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.ofertas figure img{
    max-height: 300px;
    width: 100%;
    border-radius: 15px;
}

/* ------------------------ Main pages ------------------------ */

/* ------------ General features pages------------ */

.bodySub{
    background-image: url(../assets/img/fondoVegetal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ventaCe section h3{
    background-color: #F4B911;
}
.ventaCe section div{
    background-color: #F4B911;
}
.ventaCh section h3{
    background-color: #15A015;
}
.ventaCh section div{
    background-color: #15A015;
}
.ventaEs section h3{
    background-color: #F25814;
}
.ventaEs section div{
    background-color: #F25814;
}

/* ------------ grid main ------------ */

.mainPage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 400px;
    grid-template-areas: 
    ". portada portada ."
    ". . info info"
    "bote bote venta venta"
    ;
}
.portada{
    grid-area: portada;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F7F4EB;
    background-size: contain;
    padding: 40px;
}
.textoPortada{
    width: 500px;
}
.stickerPortada{
    width: 300px;
}
.info{
    grid-area: info;

    display: flex;
    flex-direction: column;
    text-align: justify;

    row-gap: 20px;
    padding-top: 50px;
    padding-right: 30px;
}
.ventaCe{
    grid-area: venta;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-inline: 5px;
}
.ventaCh{
    grid-area: venta;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-inline: 5px;
}
.ventaEs{
    grid-area: venta;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-inline: 5px;
}
.botesCe{
    grid-area: bote;

    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 600px;

    position: relative;
    z-index: 1;
    top: 100px;

}
.botesCh{
    grid-area: bote;

    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 600px;

    position: relative;
    z-index: 1;
    top: 100px;
}
.botesEs{
    grid-area: bote;

    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 600px;

    position: relative;
    z-index: 1;
    top: 100px;
}

/* ------------ grid productos ------------ */

.producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 10px 50px 5px 50px;
    grid-template-areas: 
    "bote bote"
    ". ."
    "onz price"
    ". ."
    "cart cart"
    ;
}
.producto figure{
    grid-area: bote;
    display: flex;
    align-items: center;
    margin: 0;
}
.producto figure img{
    width: 100%;
    max-height: 190px;
    border-radius: 15px;
}
.producto h3{
    grid-area: onz;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-family: 'LexendDeca-Light';
    font-size: 20px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.producto p{
    grid-area: price;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #60605F;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    font-family: 'LexendDeca-Light';
    font-size: 20px;
    color: #fff;
}
.producto div{
    grid-area: cart;

    display: flex;
    justify-content: center;

    border-radius: 5px;
    padding: 5px;
}
.producto div img{
    width: 45px;
}

/* ------------------------ Main Contactos ------------------------ */

.contactMain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img1 form img2"
    "img1 form img2"
    "img1 form img2"
    ;
}
.imgDecoration{
    grid-area: img1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
}
.imgDecoration1{
    grid-area: img2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
}
.contactForm{
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 30px;
    background-color: #fff;  
}
.contactForm h1{
    color: #F4B911;
    background: none;
    filter: none;
    padding-left: 0px;
    padding-bottom: 10px;
}
.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: #fbfbfb; 
    width: 450px;
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-top: 1px; 
    border-color: #F4B911;
    padding-left: 10px; 
    margin-top: 10px;
    margin-bottom: 20px; 
}
textarea{
    background-color: #fbfbfb; 
    width: 440px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-top: 1px; 
    border-color: #F4B911; 
    padding-top: 15px; 
    padding-left: 10px;
    margin-bottom: 20px; 
    margin-top: 10px;
    
}
.buttonSend{
    height: 45px;
    width: 450px;  
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    background-color: #0e0e0e; 
    border-color: #0e0e0e; 
    border-style: solid; 
    border-radius: 10px;
    cursor: pointer;
} 
.buttonSend p{
    color: #F4B911; 
    text-align: center;
}
.obligatorio{
    color: #F4B911; 
}
.aviso{
    font-size: 15px;  
    color: #0e0e0e;  
}
.contactFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.imgDecoration img{
    width: 100%;
    max-width: 300px;
    min-width: 190px;
}
.imgDecoration1 img{
    width: 100%;
    max-width: 300px;
    min-width: 190px;
}
.contatcFormH2{
    font-family: "LexendDeca-Light";
    text-align: center;
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}

/* ----------------- Pantallas de 1024px a 1400px ----------------- */

@media (max-width: 1400px){

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 60px;
        padding-left: 10px;
    }
    h3{
        font-size: 45px;
        margin: 0;
    }
    p{
        font-size: 20px;
    }
    figcaption{
        font-size: 20px;
    }

    /* ----- headers ----- */
    
    .logo img{
        height: 275px;
    }
    .nav-item {
        padding: 35px 0px 0px 10px;
    }
    .nav-item a {
        font-size: 30px;
    }
    .nav-item a img{
        height: 30px;
    }
    .divNav {
        background-size: 100% 125px;
    }

    /* ----- footers ----- */

    footer{
        height: 200px;
    }
    .redes div a img{
        width: 150px;
    }
    /* ---------- main Index ---------- */

    .mainIndex{
        grid-template-rows: 70px 400px 250px 90px 300px;
    }
    .pics{
        height: 300px;
    }
    .sticker{
        padding-inline: 100px;
    }
    .sticker img{
        width: 200px;
    }
    .offer{
        padding: 15px;
        font-size: 50px;
    }
    .ofertas figure img{
        max-height: 200px;
    }
    .botes{
        height: 225px;
        top: 225px;
    }

    /* ---------- Main pages ---------- */

    /* ----- grid main ----- */

    .mainPage{
        grid-template-rows: 700px 1fr 400px;
    }
    .textoPortada{
        width: 400px;
    }
    .stickerPortada{
        width: 250px;
    }
    .ventaCe{
        column-gap: 10px;
    }
    .ventaCh{
        column-gap: 10px;
    }
    .ventaEs{
        column-gap: 10px;
    }
    .botesCe{
        height: 500px;
        top: 70px;
    }
    .botesCh{
        height: 500px;
        top: 100px;
    }
    .botesEs{
        height: 500px;
        top: 100px;
    }

    /* ----- grid productos ----- */

    .producto figure img{
        max-height: 200px;
    }
    .producto h3{
        font-size: 20px;
    }
    .producto p{
        font-size: 20px;
    }

    /* ---------- Main Contactos ---------- */

    input{
        width: 350px;
        height: 40px; 
    }
    .buttonSend{
        width: 350px;  
    } 
    textarea{
        width: 350px; 
    }
    .contatcFormH2{
        font-size: 20px;
    }
}

/* ----------------- Pantallas de 768px a 1024px ----------------- */

@media (max-width: 1024px){

    h1{
        padding: 5px;
        font-size: 30px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    figcaption{
        font-size: 15px;
    }

    /* ----- headers ----- */

    .logo img{
        height: 185px;
    }
    .nav-item {
        padding: 25px 0px 0px 5px;
    }
    .nav-item a {
        font-size: 25px;
    }
    .nav-item a img{
        height: 25px;
    }
    .divNav {
        background-size: 100% 100px;
    }

    /* ----- footers ----- */

    footer{
        justify-content: center;
        align-items: flex-end;
        height: 250px;
    }
    .redes div a img{
        width: 125px;
    }

    /* ----- main ----- */

    .mainIndex{
        grid-template-rows: 50px 300px 250px 60px 300px 100px;
        grid-template-areas:
        ". . item1 . ."
        ". item2 item2 item2 ."
        "item3 item3 item3 item3 item3"
        ". item5 item5 item5 ."
        ". item6 item6 item6 ."
        ". item4 item4 item4 ."
        ;
    }
    .pics{
        height: 200px;
    }
    .sticker{
        padding-inline: 50px;
    }
    .sticker img{
        width: 205px;
    }
    .offer{
        padding: 5px;
        font-size: 35px;
    }
    .botes{
        height: 225px;
        top: 20px;
    }

    /* ---------- Main pages ---------- */

    /* ----- grid main ----- */

    .mainPage{
        grid-template-rows: 600px 1fr 300px 300px;
        grid-template-areas: 
    ". portada portada ."
    ". info info ."
    ". venta venta ."
    ". bote bote ."
    ;
    }
    .textoPortada{
        width: 300px;
    }
    .stickerPortada{
        width: 200px;
    }
    .info{
        padding-right: 0;
    }
    .botesCe{
        height: 400px;
    }
    .botesCh{
        height: 400px;
        top: 80px;
    }
    .botesEs{
        height: 400px;
        top: 70px;
    }

    /* ----- grid productos ----- */
    
    .producto{
        grid-template-rows: 150px 10px 40px 5px 40px;
    }
    .producto figure img{
        max-height: 150px;
    }
    .producto h3{
        font-size: 15px;
    }
    .producto p{
        font-size: 15px;
    }
    .producto div img{
        width: 35px;
    }

    /* ---------- Main Contactos ---------- */
    
    .contactForm{
        padding: 20px; 
    }
    .imgDecoration{
        padding-inline: 10px;
    }
    .imgDecoration1{
        padding-inline: 10px;
    }
    .buttonSend{
        width: 275px;  
    } 
    input{
        width: 275px;
        height: 40px; 
    }
    textarea{
        width: 275px; 
    }
    .contatcFormH2{
        font-size: 15px;
    }
}

/* ----------------- Pantallas de 320px a 768px ----------------- */

@media (max-width: 767px){

    h1{
        padding: 5px;
        font-size: 20px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 10px;
    }
    figcaption{
        font-size: 15px;
        padding: 5px;
    }

    /* ----- headers ----- */

    .logo img{
        margin: 5px;
        height: 120px;
    }
    .divNav {
        justify-content: end !important;
        background: none;
        filter: none;
        padding: 0px;
    }
    .NavButton{
        border-radius: 0;
        margin-top: 10px;
        width: 100px;
        background-image: url(../assets/img/FondoMadera.jpg);
        background-size: cover;
        filter: drop-shadow(0px 4px 1px); 
    } 
    .lines img{
        height: 40px;
    }
    .nav-item {
        text-align: center;
        padding: 0px;
    }
    .nav-item a {
        color: #60605F;
        background-color: #F7F4EB;
        font-size: 20px;
        padding: 5px;
    }
    .nav-item a img{
        height: 25px;
    }
    .navBar li:nth-child(2) a{
        color: #F4B911;
    }
    .navBar li:nth-child(3) a{
        color: #15A015;
    }
    .navBar li:nth-child(4) a{
        color: #F25814;
    }
    
    /* ----- footers ----- */

    footer{
        height: 150px;
        padding: 0 !important;
    }
    .redes div a img{
        width: 75px;
    }

    /* ----- main Index ----- */

    .mainIndex{
        grid-template-rows: 40px 250px 125px 60px 200px 100px;
        grid-template-areas:
        ". . item1 . ."
        ". item2 item2 item2 ."
        "item3 item3 item3 item3 item3"
        ". item5 item5 item5 ."
        "item6 item6 item6 item6 item6"
        ". item4 item4 item4 ."
        ;
    }
    .pics{
        height: 150px;
    }
    .sticker{
        padding-inline: 5px;
    }
    .sticker img{
        width: 90px;
    }
    .offer{
        padding: 5px;
        font-size: 35px;
    }
    .ofertas{
        padding-inline: 20px;
        column-gap: 10px;
    }
    .ofertas figure img{
        max-height: 110px;
    }
    .botes{
        height: 150px;
        min-width: 225px;
        top: 25px;
    }
    
    /* ---------- Main pages ---------- */

    /* ----- grid main ----- */

    .mainPage{
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 400px 1fr 250px 150px;
        grid-template-areas: 
    ". portada portada ."
    ". info info ."
    "venta venta venta venta"
    ". bote bote ."
    ;
    }
    .textoPortada{
        width: 180px;
    }
    .stickerPortada{
        width: 100px;
    }
    .info{
        padding-top: 30px;
        row-gap: 10px;
        padding-right: 0;
    }
    .ventaCe{
        padding-inline: 10px;
    }
    .ventaCh{
        padding-inline: 10px;
    }
    .ventaEs{
        padding-inline: 10px;
    }
    .botesCe{
        height: 225px;
        top: 10px;
    }
    .botesCh{
        height: 225px;
        top: 20px;
    }
    .botesEs{
        height: 240px;
        top: 5px;
    }

    /* ----- grid productos ----- */
    
    .contactMain{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 200px 1fr 200px;
        grid-template-areas: 
        "img1 img1 img1"
        ". form ."
        "img2 img2 img2"
        ;
    }
    .imgDecoration{
        flex-direction: row;
    }
    .imgDecoration1{
        flex-direction: row;
    }
    .buttonSend{
        width: 200px;  
    } 
    input{
        width: 200px;
    }
    textarea{
        width: 200px; 
    }
    .contactForm h1{
        font-size: 30px;
    }
    .contatcFormH2{
        font-size: 15px;
    }
    .imgDecoration img{
        max-width: 190px;
        min-width: 80px;
    }
    .imgDecoration1 img{
        max-width: 190px;
        min-width: 80px;
    }
}