// ----- FONTS ----- //

$title: 'theWanters';
$subtitle: 'FreeStyle-Script';
$text: 'LexendDeca-Light';

// ----- COLORS ----- //

$cebolla: #F4B911;
$chimichurri: #15A015;
$escabeche: #F25814;
$gray: #60605F;

$shadow: drop-shadow(-12px 9px 6px black);
