@font-face {
    font-family: "TheWanters";
    src: url(../assets/fonts/TheWanters-DEMO.ttf);    
}
@font-face{
    font-family: "FreeStyle-Script";
    src: url(../assets/fonts/FREESCPT.TTF);
}
@font-face {
    font-family: 'LexendDeca';
    src: url(../assets/fonts/LexendDeca-Thin.ttf);
}
@font-face {
    font-family: 'LexendDeca-SemiBold';
    src: url(../assets/fonts/LexendDeca-SemiBold.ttf);
}
@font-face {
    font-family: 'LexendDeca-Light';
    src: url(../assets/fonts/LexendDeca-Light.ttf);
}