header{
    .logo a img{
        margin-top: 10px;
        margin-left: 10px;
        height: 350px;
        filter: $shadow;
    }

    .divNav{
        padding-inline: 10px;
        background-image: url(../assets/img/FondoNav.png);
        @include bg-settings(100% 150px, no-repeat, $shadow);

        .nav-item{
            list-style: none;
            padding: 40px 10px 0px 10px;

            a{
                text-decoration: none;
                @include font($title, 2.5rem, #fff, center);
                filter: drop-shadow(-2px 4px 1px black);
            }
        }
    }
}